return {
	name = "command",
	description = "This is an example command.",
	usage = "command <parameter> [optional parameter]",
	requiredPermissions = {},
	run = function(message, argString, args, guildSettings, conn)
		message:reply("Hello World!")
	end
}