return {
	name = "",
	description = "",
	visible = true,
	disabledByDefault = false,
	run = function(self, guildSettings, lang, )
		
	end,
	onEnable = function(self, message, guildSettings, conn)
		return true
	end,
	onDisable = function(self, message, guildSettings, conn)
		return true
	end
}